# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Documentation/temp/
Source/Engine/D3DVisualisation/Resources/CopyToOutput/.Internal/CSO/vs.cso
Source/Engine/D3DVisualisation/Resources/CopyToOutput/.Internal/CSO/ps.cso
Source/x64/
Source/Tests/D3DVisualisationTest/x64/
Source/Tests/D3DVisualisationTest/Debug/
Source/ShaderBox/obj/
Source/ShaderBox/bin/
Source/packages/
Source/FirstFloor.ModernUI/obj/
Source/Engine/ShaderRuntimeCompiler/x64/
Source/Engine/ShaderRuntimeCompiler/Debug/
Source/FirstFloor.ModernUI/bin/
Source/Engine/D3DVisualisation/x64/
Source/DemoProject/obj/
Source/bin/
Source/.vs/
Source/Engine/ShaderRuntimeCompiler/bin/
Source/NativeBridge/x64/
Source/ShaderBoxBridge/x64/
